<div class="hide_me">
<div class="container">


    <div class="buis_text_1" style="margin-top: 3%; text-align: center;">
         {{ 'CLASSIFICATION' | translate: ''}}

    </div>

<div class="row" style="margin-top: 5%;">

  

    <div class="col">
       
        <div class="buis_text_1" style="margin-top: 0%; font-size:32px;"> 
            {{ 'How to classify an object' | translate: ''}}
        </div>

        <div class="small_text" style="margin-top: 5%;">
            {{ 'Before' | translate: ''}}
        </div>

        <div class="row" style="margin-top: 5%;">
            
        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                80 €
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ 'for HOSTA package' | translate: ''}}
            </div>
    
        </div>

        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                 15 d
                
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%; width: 120%;">
                {{ 'Classification Procedure' | translate: ''}}
            </div>
    
        </div>

        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                24 h
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                 {{ 'Response time' | translate: ''}}
            </div>
    
        </div>
        </div>
    </div>

    <div class="col">
        <img   src="../../assets/images/categorization.png" >
    </div>
</div>

<div class="buis_text_1" style="margin-top: 5%; font-size:32px;"> 
    {{ 'Classification Procedure ' | translate: ''}}
</div>

<div class="small_text" style=" text-align: left; margin-top: 5%; font-size: 18px;">
    {{ 'The first thing' | translate: ''}}
   
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px;">
    {{ 'Next' | translate: ''}}  
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px;">
    {{ '• A copy of an ID card' | translate: ''}}  
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px;">
    {{ 'Proof that' | translate: ''}}  
    
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px;">
    {{ 'Form- conditions' | translate: ''}}
    <a href="https://mint.gov.hr/">www.mint.hr</a>
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px;">
    {{ 'Form- categorization' | translate: ''}}
    
</div>


<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px; margin-left: 10%;">
   {{ 'ANNEX I' | translate: ''}}
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px; margin-left: 10%;">
    {{ 'Annex II' | translate: ''}}
   
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px;">
    {{ 'Proof of compliance' | translate: ''}}
    
</div>

<div class="small_text" style=" text-align: left;  margin-top: 2%; font-size: 18px;">
    {{ 'Pay an administrative fee ' | translate: ''}}
   
</div>


<div>
    <button type="button" (click)="openDialog()" class="btn btn-default btn-round-lg btn-l">   
        <div class="button_text">
            
            {{ 'Get HOSTA Offer for classification' | translate: ''}}
    </div></button>
 
  
</div>


</div>
</div>

<div class="show_me">


    <div class="buis_text_1" style="margin-top: 3%; text-align: center; font-size: 24px;">
        {{ 'CLASSIFICATION' | translate: ''}}

   </div>

   <div class="buis_text_1" style="margin-top: 5%; font-size:22px;"> 
    {{ 'How to classify an object' | translate: ''}}
</div>

<div class="small_text" style="margin-top: 5%;">
    {{ 'Before' | translate: ''}}
</div>


<div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
    80 €

</div>

<div class="small_text " style="text-align: center; margin-top: 0%;">
    {{ 'for HOSTA package' | translate: ''}}
</div>

<div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
    15 d
   

</div>

<div class="small_text " style="text-align: center; margin-top: 0%; width: 100%;">
   {{ 'Classification Procedure' | translate: ''}}
</div>


<div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
    24 h

</div>

<div class="small_text " style="text-align: center; margin-top: 0%;">
     {{ 'Response time' | translate: ''}}
</div>


    <img style="width: 100%;"  src="../../assets/images/categorization.png" >


    <div class="buis_text_1" style="margin-top: 5%; font-size:32px;"> 
        {{ 'Classification Procedure ' | translate: ''}}
    </div>
    
    <div class="small_text" style=" text-align: left; margin-top: 5%; font-size: 18px;">
        {{ 'The first thing' | translate: ''}}
       
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px;">
        {{ 'Next' | translate: ''}}  
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px;">
        {{ '• A copy of an ID card' | translate: ''}}  
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px;">
        {{ 'Proof that' | translate: ''}}  
        
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px;">
        {{ 'Form- conditions' | translate: ''}}
        <a href="https://mint.gov.hr/">www.mint.hr</a>
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px;">
        {{ 'Form- categorization' | translate: ''}}
        
    </div>
    
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px; ">
       {{ 'ANNEX I' | translate: ''}}
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px; ">
        {{ 'Annex II' | translate: ''}}
       
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px;">
        {{ 'Proof of compliance' | translate: ''}}
        
    </div>
    
    <div class="small_text" style=" text-align: left;  margin-top: 5%; font-size: 18px;">
        {{ 'Pay an administrative fee ' | translate: ''}}
       
    </div>

    <div  style="width: 80%;  margin-top: 5%; text-align: left; margin-right: 15%;">
        <button type="button" class="btn btn-default btn-round-lg btn-l" style="width: 114%; margin-left: 0%;">   
            <div class="mbutton_text" >
                {{ 'Get HOSTA Offer for classification' | translate: ''}}
        </div>
    </button>
    </div>

    <div class="small_button_text" style="margin-top: 5%; margin-left: 0%;  color: white;">
        {{ 'save' | translate: ''}}
    </div>
    
</div>