

<div class="container">

<div class ="color_page">

    <div class="row">
    <div class ="color_main">
        {{ 'FAQ-main' | translate: ''}}
    </div>

    <div class ="q-color_main" >
        {{ 'ADAPTATION' | translate: ''}}
    </div>
    
    
    <div (click)="myFunction() " class="plus">   {{ 'faq1' | translate: ''}}</div>

        <div class="a-color_main"  id="plus" >

            {{ 'faq2' | translate: ''}}
         
    </div>

    <div (click)="myFunction1()" class="plus" style="text-align: left; ">   {{ 'faq3' | translate: ''}}</div>

        <div class="a-color_main" id="plus1">
            {{ 'faq4' | translate: ''}}
    </div>


     
    <div (click)="myFunction2()" class="plus"> {{ 'faq5' | translate: ''}}</div>

        <div class="a-color_main"  id="plus2" >
            {{ 'faq6' | translate: ''}}
    </div>

    <div (click)="myFunction3()" class="plus" style="text-align: left;">{{ 'faq7' | translate: ''}} </div>

        <div class="a-color_main" id="plus3">
            {{ 'faq8' | translate: ''}} 
    </div>

       
    <div (click)="myFunction4()" class="plus"> {{ 'faq9' | translate: ''}}</div>

        <div class="a-color_main"  id="plus4" >
            {{ 'faq10' | translate: ''}}
    </div>

    <div (click)="myFunction5()" class="plus" style="text-align: left;">{{ 'faq11' | translate:''}} </div>

        <div class="a-color_main" id="plus5">
            {{ 'faq12' | translate: ''}} 
    </div>
       
    <div (click)="myFunction6()" class="plus"> {{ 'faq13' | translate: ''}}</div>

        <div class="a-color_main"  id="plus6" >
            {{ 'faq14' | translate: ''}}
    </div>

    <div class ="q-color_main" >
        {{ 'CLASSIFICATION' | translate: ''}}
    </div>

    <div (click)="myFunction7()" class="plus" style="text-align: left;">{{ 'faq15' | translate: ''}} </div>

        <div class="a-color_main" id="plus7">
            {{ 'faq16' | translate: ''}} 
    </div>
       
    <div (click)="myFunction8()" class="plus"> {{ 'faq17' | translate: ''}}</div>

        <div class="a-color_main"  id="plus8" >
            {{ 'faq18' | translate: ''}}
    </div>

    <div (click)="myFunction9()" class="plus" style="text-align: left;">{{ 'faq19' | translate: ''}} </div>

        <div class="a-color_main" id="plus9">
            {{ 'faq20' | translate: ''}} 
    </div>
       
    <div (click)="myFunction10()" class="plus"> {{ 'faq21' | translate: ''}}</div>

        <div class="a-color_main"  id="plus10" >
            {{ 'faq22' | translate: ''}}
    </div>

    <div (click)="myFunction11()" class="plus" style="text-align: left;">{{ 'faq23' | translate: ''}} </div>

        <div class="a-color_main" id="plus11">
            {{ 'faq24' | translate: ''}} 
    </div>
       
    <div (click)="myFunction12()" class="plus"> {{ 'faq25' | translate: ''}}</div>

        <div class="a-color_main"  id="plus12" >
            {{ 'faq26' | translate: ''}}
    </div>

    <div (click)="myFunction13()" class="plus" style="text-align: left; ">{{ 'faq27' | translate: ''}} </div>

        <div class="a-color_main" id="plus13">
            {{ 'faq28' | translate: ''}} 
    </div>
       
    <div (click)="myFunction14()" class="plus"> {{ 'faq29' | translate: ''}}</div>

        <div class="a-color_main"  id="plus14" >
            {{ 'faq30' | translate: ''}}
    </div>

    <div (click)="myFunction15()" class="plus" style="text-align: left; ">{{ 'faq31' | translate: ''}} </div>

        <div class="a-color_main" id="plus15">
            {{ 'faq32' | translate: ''}} 
    </div>
    <div class ="q-color_main" >
        Booking
    </div>
    
    <div (click)="myFunction16() " class="plus">   {{ 'faq33' | translate: ''}}</div>

    <div class="a-color_main"  id="plus16" >

        {{ 'faq34' | translate: ''}}
     
</div>

<div (click)="myFunction17()" class="plus" style="text-align: left; ">   {{ 'faq35' | translate: ''}}</div>

    <div class="a-color_main" id="plus17">
        {{ 'faq36' | translate: ''}}
</div>


 
<div (click)="myFunction18()" class="plus"> {{ 'faq37' | translate: ''}}</div>

    <div class="a-color_main"  id="plus18" >
        {{ 'faq38' | translate: ''}}
</div>

<div (click)="myFunction19()" class="plus" style="text-align: left;">{{ 'faq39' | translate: ''}} </div>

    <div class="a-color_main" id="plus19">
        {{ 'faq40' | translate: ''}} 
</div>

   
<div (click)="myFunction20()" class="plus"> {{ 'faq41' | translate: ''}}</div>

    <div class="a-color_main"  id="plus20" >
        {{ 'faq42' | translate: ''}}
</div>

<div (click)="myFunction21()" class="plus" style="text-align: left;">{{ 'faq43' | translate: ''}} </div>

    <div class="a-color_main" id="plus21">
        {{ 'faq44' | translate: ''}} 
</div>
   
<div (click)="myFunction22()" class="plus"> {{ 'faq45' | translate: ''}}</div>

    <div class="a-color_main"  id="plus22" >
        {{ 'faq46' | translate: ''}}
</div>



<div (click)="myFunction23()" class="plus" style="text-align: left;">{{ 'faq47' | translate: ''}} </div>

    <div class="a-color_main" id="plus23">
        {{ 'faq48' | translate: ''}} 
</div>
   
<div (click)="myFunction24()" class="plus"> {{ 'faq49' | translate: ''}}</div>

    <div class="a-color_main"  id="plus24" >
        {{ 'faq50' | translate: ''}}
</div>

<div (click)="myFunction25()" class="plus" style="text-align: left;">{{ 'faq51' | translate: ''}} </div>

    <div class="a-color_main" id="plus25">
        {{ 'faq52' | translate: ''}} 
</div>
   
<div (click)="myFunction26()" class="plus"> {{ 'faq53' | translate: ''}}</div>

    <div class="a-color_main"  id="plus26" >
        {{ 'faq54' | translate: ''}}
</div>

<div (click)="myFunction27()" class="plus" style="text-align: left;">{{ 'faq55' | translate: ''}} </div>

    <div class="a-color_main" id="plus27">
        {{ 'faq56' | translate: ''}} 
</div>

<div class ="q-color_main" >
    {{ 'CLEANING1' | translate: ''}}
</div>

<div (click)="myFunction28()" class="plus"> {{ 'faq57' | translate: ''}}</div>

    <div class="a-color_main"  id="plus28" >
        {{ 'faq58' | translate: ''}}
</div>

<div (click)="myFunction29()" class="plus" style="text-align: left; ">{{ 'faq59' | translate: ''}} </div>

    <div class="a-color_main" id="plus29">
        {{ 'faq60' | translate: ''}} 
</div>
   
<div (click)="myFunction30()" class="plus"> {{ 'faq61' | translate: ''}}</div>

    <div class="a-color_main"  id="plus30" >
        {{ 'faq62' | translate: ''}}
</div>

<div (click)="myFunction31()" class="plus" style="text-align: left; ">{{ 'faq63' | translate: ''}} </div>

    <div class="a-color_main" id="plus31">
        {{ 'faq64' | translate: ''}} 
</div>


 
<div (click)="myFunction32() " class="plus">   {{ 'faq65' | translate: ''}}</div>

<div class="a-color_main"  id="plus32" >

    {{ 'faq66' | translate: ''}}
 
</div>

<div (click)="myFunction33()" class="plus" style="text-align: left; ">   {{ 'faq67' | translate: ''}}</div>

<div class="a-color_main" id="plus33">
    {{ 'faq68' | translate: ''}}
</div>



<div (click)="myFunction34()" class="plus"> {{ 'faq69' | translate: ''}}</div>

<div class="a-color_main"  id="plus34" >
    {{ 'faq70' | translate: ''}}
</div>

<div (click)="myFunction35()" class="plus" style="text-align: left;">{{ 'faq71' | translate: ''}} </div>

<div class="a-color_main" id="plus35">
    {{ 'faq72' | translate: ''}} 
</div>


<div (click)="myFunction36()" class="plus"> {{ 'faq73' | translate: ''}}</div>

<div class="a-color_main"  id="plus36" >
    {{ 'faq74' | translate: ''}}
</div>

<div class ="q-color_main" >
    {{ 'HANDYMAN1' | translate: ''}}
</div>

<div (click)="myFunction37()" class="plus" style="text-align: left;">{{ 'faq75' | translate: ''}} </div>

<div class="a-color_main" id="plus37">
    {{ 'faq76' | translate: ''}} 
</div>

<div (click)="myFunction38()" class="plus"> {{ 'faq77' | translate: ''}}</div>

<div class="a-color_main"  id="plus38" >
    {{ 'faq78' | translate: ''}}
</div>



<div (click)="myFunction39()" class="plus" style="text-align: left;">{{ 'faq79' | translate: ''}} </div>

<div class="a-color_main" id="plus39">
    {{ 'faq80' | translate: ''}} 
</div>

<div (click)="myFunction40()" class="plus"> {{ 'faq81' | translate: ''}}</div>

<div class="a-color_main"  id="plus40" >
    {{ 'faq82' | translate: ''}}
</div>

<div class ="q-color_main" >
    {{ 'Reception' | translate: ''}}
</div>

<div (click)="myFunction41()" class="plus" style="text-align: left;">{{ 'faq83' | translate: ''}} </div>

<div class="a-color_main" id="plus41">
    {{ 'faq84' | translate: ''}} 
</div>

<div (click)="myFunction42()" class="plus"> {{ 'faq85' | translate: ''}}</div>

<div class="a-color_main"  id="plus42" >
    {{ 'faq86' | translate: ''}}
</div>

<div (click)="myFunction43()" class="plus" style="text-align: left;">{{ 'faq87' | translate: ''}} </div>

<div class="a-color_main" id="plus43">
    {{ 'faq88' | translate: ''}} 
</div>

<div (click)="myFunction44()" class="plus"> {{ 'faq89' | translate: ''}}</div>

<div class="a-color_main"  id="plus44" >
    {{ 'faq90' | translate: ''}}
</div>

<div (click)="myFunction45()" class="plus" style="text-align: left; ">{{ 'faq91' | translate: ''}} </div>

<div class="a-color_main" id="plus45">
    {{ 'faq92' | translate: ''}} 
</div>

<div (click)="myFunction46()" class="plus"> {{ 'faq93' | translate: ''}}</div>

<div class="a-color_main"  id="plus46" >
    {{ 'faq94' | translate: ''}}
</div>

<div (click)="myFunction47()" class="plus" style="text-align: left; ">{{ 'faq95' | translate: ''}} </div>

<div class="a-color_main" id="plus48">
    {{ 'faq96' | translate: ''}} 
</div>


<div (click)="myFunction48() " class="plus">   {{ 'faq97' | translate: ''}}</div>

<div class="a-color_main"  id="plus48" >

{{ 'faq98' | translate: ''}}

</div>

<div (click)="myFunction49()" class="plus" style="text-align: left; ">   {{ 'faq99' | translate: ''}}</div>

<div class="a-color_main" id="plus49">
{{ 'faq100' | translate: ''}}
</div>



<div (click)="myFunction50()" class="plus"> {{ 'faq101' | translate: ''}}</div>

<div class="a-color_main"  id="plus50" >
{{ 'faq102' | translate: ''}}
</div>

<div (click)="myFunction51()" class="plus" style="text-align: left;">{{ 'faq103' | translate: ''}} </div>

<div class="a-color_main" id="plus51">
{{ 'faq104' | translate: ''}} 
</div>


<div (click)="myFunction52()" class="plus" style="text-align: left;">{{ 'faq105' | translate: ''}} </div>

<div class="a-color_main" id="plus51">
{{ 'faq106' | translate: ''}} 
</div>

<div (click)="myFunction53()" class="plus" style="text-align: left;">{{ 'faq107' | translate: ''}} </div>

<div class="a-color_main" id="plus53">
{{ 'faq108' | translate: ''}} 
</div>

<div (click)="myFunction54()" class="plus"> {{ 'faq109' | translate: ''}}</div>

<div class="a-color_main"  id="plus54" >
{{ 'faq110' | translate: ''}}
</div>


<div class ="q-color_main" >
    {{ 'OWNER' | translate: ''}}
</div>

<div (click)="myFunction55()" class="plus" style="text-align: left;">{{ 'faq111' | translate: ''}} </div>

<div class="a-color_main" id="plus55">
{{ 'faq112' | translate: ''}} 
</div>

<div (click)="myFunction56()" class="plus"> {{ 'faq113' | translate: ''}}</div>

<div class="a-color_main"  id="plus56" >
{{ 'faq114' | translate: ''}}
</div>

<div (click)="myFunction57()" class="plus" style="text-align: left;">{{ 'faq115' | translate: ''}} </div>

<div class="a-color_main" id="plus57">
{{ 'faq116' | translate: ''}} 
</div>

<div (click)="myFunction58()" class="plus"> {{ 'faq117' | translate: ''}}</div>

<div class="a-color_main"  id="plus58" >
{{ 'faq118' | translate: ''}}
</div>

<div (click)="myFunction59()" class="plus" style="text-align: left;">{{ 'faq119' | translate: ''}} </div>

<div class="a-color_main" id="plus59">
{{ 'faq120' | translate: ''}} 
</div>



<div (click)="myFunction60()" class="plus"> {{ 'faq121' | translate: ''}}</div>

<div class="a-color_main"  id="plus60" >
{{ 'faq122' | translate: ''}}
</div>

<div (click)="myFunction61()" class="plus" style="text-align: left; ">{{ 'faq123' | translate: ''}} </div>

<div class="a-color_main" id="plus61">
{{ 'faq124' | translate: ''}} 
</div>

<div (click)="myFunction62()" class="plus"> {{ 'faq125' | translate: ''}}</div>

<div class="a-color_main"  id="plus62" >
{{ 'faq126' | translate: ''}}
</div>

<div (click)="myFunction63()" class="plus" style="text-align: left; ">{{ 'faq127' | translate: ''}} </div>

<div class="a-color_main" id="plus63">
{{ 'faq128' | translate: ''}} 
</div>


<div (click)="myFunction64()" class="plus" style="text-align: left;">{{ 'faq129' | translate: ''}} </div>

<div class="a-color_main" id="plus64">
{{ 'faq130' | translate: ''}} 
</div>

<div (click)="myFunction65()" class="plus" style="text-align: left;">{{ 'faq131' | translate: ''}} </div>

<div class="a-color_main" id="plus65">
{{ 'faq132' | translate: ''}} 
</div>

<div class ="q-color_main" >
    {{ 'HOSTA package' | translate: ''}}
</div>

<div (click)="myFunction66()" class="plus"> {{ 'faq133' | translate: ''}}</div>

<div class="a-color_main"  id="plus66" >
{{ 'faq134' | translate: ''}}
</div>



<div (click)="myFunction67()" class="plus" style="text-align: left;">{{ 'faq135' | translate: ''}} </div>

<div class="a-color_main" id="plus67">
{{ 'faq136' | translate: ''}} 
</div>

<div (click)="myFunction68()" class="plus"> {{ 'faq137' | translate: ''}}</div>

<div class="a-color_main"  id="plus68" >
{{ 'faq138' | translate: ''}}
</div>

<div (click)="myFunction69()" class="plus" style="text-align: left;">{{ 'faq139' | translate: ''}} </div>

<div class="a-color_main" id="plus69">
{{ 'faq140' | translate: ''}} 
</div>

<div (click)="myFunction70()" class="plus"> {{ 'faq141' | translate: ''}}</div>

<div class="a-color_main"  id="plus70" >
{{ 'faq142' | translate: ''}}
</div>

<div (click)="myFunction71()" class="plus" style="text-align: left;">{{ 'faq143' | translate: ''}} </div>

<div class="a-color_main" id="plus71">
{{ 'faq144' | translate: ''}} 
</div>



<div (click)="myFunction72()" class="plus"> {{ 'faq145' | translate: ''}}</div>

<div class="a-color_main"  id="plus72" >
{{ 'faq146' | translate: ''}}
</div>

<div (click)="myFunction73()" class="plus" style="text-align: left; ">{{ 'faq147' | translate: ''}} </div>

<div class="a-color_main" id="plus73">
{{ 'faq148' | translate: ''}} 
</div>

<div (click)="myFunction74()" class="plus"> {{ 'faq149' | translate: ''}}</div>

<div class="a-color_main"  id="plus74" >
{{ 'faq150' | translate: ''}}
</div>



   


</div>
</div>



</div>
