

<div style="text-align: center; color: #46A682; font-size: 20px;"> {{ 'I would like to get an offer' | translate: ''}}
    
   </div>


   <div style=" margin-top: 5%; text-align: left;  margin-left: 5%; font-size: 16px;"> 
    {{ 'Your full name' | translate: ''}}
</div>

<div class="icon-addon addon-lg" style="width: 50%; margin-top: 2%; margin-left: 5%;">
    <input type="text" placeholder="Name" class="form-control" id="name">
    
</div>

<div style=" margin-top: 3%; text-align: left;  margin-left: 5%; font-size: 16px;"> 
    {{ 'Your e-mail address' | translate: ''}}
</div>

<div class="icon-addon addon-lg" style="width: 50%; margin-top: 2%; margin-left: 5%;">
    <input type="text" placeholder="Email" class="form-control" id="email">
    
</div>


<div style=" margin-top: 3%; text-align: left;  margin-left: 5%; font-size: 16px;"> 
    {{ 'Your apartment address' | translate: ''}}
</div>

<div class="icon-addon addon-lg" style="width: 80%; margin-top: 2%; margin-left: 5%;">
    <input type="text" placeholder="Adress" class="form-control" id="adress">
   
</div>

<div style=" margin-top: 3%; text-align: left;  margin-left: 5%; font-size: 16px;"> 
    {{ 'Your message' | translate: ''}}
</div>

<div class="icon-addon addon-lg" style="width: 80%; margin-top: 2%; margin-left: 5%;">
    <input style=" height:150px; "type="text" placeholder="" class="form-control" id="message">
    
</div>

<button  type="button" class="btn btn-default btn-round-lg btn-l">   
    <div class="button_text">
        {{ 'send' | translate:''}}
    
</div></button>


