
<div class="hide_me">
<div class="container">
<div class="row">

   <div class="col">
<div class="income_text">
    Rona Trade d.o.o.       
</div>

<div class="small_income_text">
    Nova cesta 119, 51410, Opatija,<br/>
    Hrvatska +385 51 272 240 
 </div> 

 <div class="small_about_text">
   
   

    {{ ' HOSTA will do everything on your behalf!' | translate: ''}}
 </div>
</div>

<div class="col">
 <div class="small_text">

   {{ 'Do you have an apartment' | translate: ''}}
    
 </div>

 <div class="small_text" style="margin-top: 5%;">
   {{ 'The HOSTA service package responds' | translate: ''}}
    
 </div>
 </div>
</div>


<agm-map [latitude] ="latitude" [longitude]="longitude">


</agm-map>

</div>
</div>

<div class="show_me">
   <div class="income_text" style="width: 90%; font-size: 32px;">
      Rona Trade d.o.o.       
  </div>
  <div class="small_income_text" style="width: 90%;">
   Nova cesta 119, 51410, <br/>Opatija,
   Hrvatska<br/> +385 51 272 240 
</div> 

<div class="small_text" style="width: 90%;">

   {{ 'Do you have an apartment' | translate: ''}}
    
 </div>
 <div class="small_text" style="margin-top: 5%; width: 90%;">
   {{ 'The HOSTA service package responds' | translate: ''}}
    
 </div>


 <agm-map [latitude] ="latitude" [longitude]="longitude">


</agm-map>
</div>