

 
<div class="container">

   


    <img class="main_picture" src="../../assets/images/main_picture.png" alt="main_picture">




    <div class="hide_me">

    <div class= "row">

        <div  class="col"  style="margin-left: 0%; margin-top:5%; width:200%;">

            <div class="income_picture">
                <img style="margin-left: 37%;"  src="../../assets/images/income.png" >
            </div>

            <div class="income_text" >
                {{ 'Maximise' | translate: ''}}
                      
            </div>

            <div>
                <img style="margin-top: 15%; width: 100%;"  src="../../assets/images/line1.png" >
            </div>

            <div class="small_income_text">
                {{ 'Up to ' | translate: ''}}
               
            </div> 

        </div>

        
        <div  class="col"  style="margin-left: 0%; margin-top:5%; width:10%;">

            <div class="income_picture">
                <img style="margin-left: 37%;"  src="../../assets/images/safe.png" >
            </div>

            <div class="income_text">
                {{ 'Prompt' | translate: ''}}
                      
            </div>

            <div>
                <img style="margin-top: 15%; width: 100%;"  src="../../assets/images/line1.png" >
            </div>

            <div class="small_income_text">
                {{ 'Your property is in safe hands' | translate: ''}}
               
            </div> 
             
        </div>

        <div  class="col"  style="margin-left: 0%; margin-top:5%; width:20%;">

            <div class="income_picture">
                <img style="margin-left: 37%;"  src="../../assets/images/happy.png" >
            </div>

            <div class="income_text">
                {{ 'Happy guests' | translate: ''}}
                      
            </div>

            <div class="income_text" style="margin-top: 0%;">
                {{ 'Happy guests1' | translate: ''}}
                      
            </div>

            <div>
                <img style="margin-top: 15%;width: 100%;"  src="../../assets/images/line1.png" >
            </div>

            <div class="small_income_text">
                {{ ' We are' | translate: ''}}
                
            </div> 

        </div>


        
    </div>



    

        <div class ="color_page">
            
            <div class="row">
            <div class ="color_main">
                {{ ' HOSTA service package' | translate: ''}}
            </div>
        </div>
            <div class="row" style="margin-left: 2%;">
               

            <div  class="col"  style="margin-left: 5.2%; margin-top:4.9%; width:100%;">

                <div class="color_picture" >
                    <img  src="../../assets/images/booking.png" >
                </div>

                <div class="color_text">
                    BOOKING
                </div>

                
            <div class="small_color_text">
                {{ 'Presence' | translate: ''}}
               
             </div> 

             <div style="text-align: center; margin-top: 14%; " >
                <img style="text-align: center; margin-top: 15%;"  src="../../assets/images/line_4.png" >
            </div>

               
        </div>

        <div  class="col"  style="margin-right: 0%; margin-top:5.2%; width:80%; ">

            <div class="color_picture">
                <img style="margin-top: 2%; margin-left: 15%;" src="../../assets/images/cleaning.png" >
            </div>

            <div class="color_text" style="margin-right: -5%; width: 100%;">
                 {{ 'CLEANING1' | translate: ''}}
            </div>

            <div class="small_color_text">
                {{ 'High' | translate: ''}}
                
             </div>
             <div style="text-align: center; margin-top: 5%; " >
                <img style="text-align: center; margin-top: 25%;"  src="../../assets/images/line_4.png" >
            </div>
             
        
    </div>

    
    <div  class="col"  style="margin-right: 0%; margin-top:5.2%; width:100%; ">

        <div class="color_picture">
            <img style="margin-top: 4%;  margin-left: 15%;" src="../../assets/images/handy_man.png" >
        </div>

        <div class="color_text" style="margin-right: -5%; ">
            {{ 'HANDYMAN2' | translate: ''}}
        </div>
        <div class="small_color_text">
            {{ 'rapid' | translate: ''}}
            
         </div>
         <div style="text-align: center; margin-top: 5%;" >
            <img style="text-align: center; margin-top: 25%;"  src="../../assets/images/line_4.png" >
        </div>
         
</div>

<div  class="col"  style="margin-right: 0%; margin-top:6%; width:100%;  ">

    <div class="color_picture" >
        <img style="margin-top: 6%;  margin-left: 17%;"  src="../../assets/images/reception.png" >
    </div>
    <div class="color_text">
        {{ 'Reception1' | translate: ''}}
    </div>
    <div class="small_color_text">
        
        {{ 'self-check' | translate: ''}}
        
     </div>

     
     <div style="text-align: center; margin-top: 5%; " >
        <img style="text-align: center; margin-top: 15%;"  src="../../assets/images/line_4.png" >
    </div>
</div>


</div>

    <div >
        <div>
        <button type="button" class="btn btn-default btn-round-lg btn-l">   
            <div class="button_text">
                {{ 'package' | translate: ''}}
        
        </div></button>
      
    </div>

    <div class="small_button_text">
        {{ 'save' | translate: ''}}
    </div>

</div>



</div>

<div class="income_text"> 
    {{ 'Connection' | translate: ''}}
   

</div>




<div class="row" style="margin-top: 5%;">

    <div class="col" style="margin-left: 0%;">
        <img   src="../../assets/images/airbnb.png" >
    </div>
    <div class="col">
        <img   src="../../assets/images/booking_com.png" >
    </div>
    <div class="col" >
        <img style="width: 60%; margin-top: 0%; "  src="../../assets/images/expedia.png" >
    </div>
    <div class="col" style="margin-right: -9%;">
        <img style="width: 40%;"   src="../../assets/images/Tui.png" >
    </div>
    <div class="col" style="margin-left:3%;" >
        <img   src="../../assets/images/homeaway.png" >
    </div>
   

</div>
<div class="buissnes">

<div class="buis_text"> 
    {{ ' Support in every segment of your business' | translate: ''}}
  
</div>


<div class="row" style="margin-top: 5%;">
    <div class="col">

        <div class="small_buis_text " style="margin-top: 0%;">
            {{ ' INVESTMENTS' | translate: ''}}
            

        </div>

        <div class="buis_text_1"style="margin-top: 0%;"> 
            {{ 'Invest in vacation property rental' | translate: ''}}
            
        </div>

        <div class="small_text">
            {{ ' HOSTA helps its' | translate: ''}}
            

        </div>

        <div>

        <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
            {{ ' ↑ to 10% ' | translate: ''}}

        </div>

        <div class="small_text " style="text-align: center; margin-top: 0%;">
          {{ 'capital volume' | translate: ''}}
        </div>

    </div>
       
    </div>
    <div class="col">
        <img   src="../../assets/images/investment.png" >
    </div>

</div>


<div class="row" style="margin-top: 5%;">

    <div class="col">
        <img   src="../../assets/images/adaptation.png" >
    </div>

    <div class="col">
        <div class="small_buis_text" style="margin-top: 0%;">
             {{ 'ADAPTATION1' | translate: ''}}
            
        </div>
        <div class="buis_text_1" style="margin-top: 0%;"> 
            {{ 'Guests' | translate: ''}}
        
        </div>

        <div class="small_text" style="margin-top: 5%;">
            {{ 'beautifully' | translate: ''}}


        </div>

        <div class="row" style="margin-top: 5%;">
            
        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                >15%
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ 'Higher yields' | translate: ''}}
            </div>
    
        </div>

        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                15.000€
               
                
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ ' Average Budget' | translate: ''}}
            </div>
    
        </div>

        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                500+
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ '  Property Designed' | translate: ''}}
            </div>
    
        </div>
        </div>
    </div>
</div>


    

    
    
    

    <div class="row" style="margin-top: 5%;">

      
    
        <div class="col">
            <div class="small_buis_text" style="margin-top: 0%;">
                {{ 'CLASSIFICATION' | translate: ''}}
    
            </div>
            <div class="buis_text_1" style="margin-top: 0%;"> 
                 {{ 'Legalize your business' | translate: ''}}
            </div>
    
            <div class="small_text" style="margin-top: 5%;">
                
                {{ 'Prior ' | translate: ''}}
                
    
            </div>


            <div class="row" style="margin-top: 5%;">
            
                <div class="col">
        
                    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                         {{ '>€80' | translate: ''}}
            
                    </div>
            
                    <div class="small_text " style="text-align: center; margin-top: 0%;">
                        {{ 'For HOSTA Users' | translate: ''}}
                    </div>
            
                </div>
        
                <div class="col">
        
                    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                        {{ '15 days' | translate: ''}}
            
                    </div>
            
                    <div class="small_text " style="text-align: center; margin-top: 0%; width: 120%; ">
                         {{ 'Classification Procedure' | translate: ''}}
                    </div>
            
                </div>
        
                <div class="col">
        
                    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                        24h
                       
            
                    </div>
            
                    <div class="small_text " style="text-align: center; margin-top: 0%;">
                          {{ 'Response time' | translate: ''}}
                    </div>
            
                </div>
                </div>
            
</div>

<div class="col">
    <img   src="../../assets/images/categorization.png" >
</div>

</div>

</div>




<div class ="color_page" style="height:800px;">
            
    <div class="row">
    <div class ="color_main">
        {{ 'OUR USERS ABOUT US' | translate: ''}}
        
    </div>
</div>
    <div class="row" style="margin-left: 0%;">
       

    <div  class="col"  style="margin-left: 5.2%; margin-top:4.9%; width:100%;   border-radius: 15px;"  >

        <div class="color_picture"  >
            <img   style="width: 100%;" src="../../assets/images/object_1.png" >
        </div>

        
    

    <div class="small_color_text_1" >
        {{ 'We are extremely pleased' | translate: ''}}
      
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 20%;">
        {{ 'Dinko Škarica, Opatija' | translate: ''}}
        
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 5%;">
        {{ 'HOSTA user since 2017' | translate: ''}}
        
     </div> 
    
   
    

       
</div>

<div  class="col"  style="margin-right: 0%; margin-top:5.2%;  width:100%; border-radius: 15px; ">

    <div class="color_picture">
        <img style="margin-top: 2%; border-radius: 15px; width: 100%; height: 202px;" src="../../assets/images/kitchen.png" >
    </div>

    <div class="small_color_text_1" >
        {{ 'Using HOSTAs package' | translate: ''}}
        
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 20%;">
        
        {{ 'Zdravko Ružić, Barbariga' | translate: ''}}
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 5%;">
        {{ 'HOSTA user since 2010' | translate: ''}}
        
     </div> 
     

</div>


<div  class="col"  style="margin-right: 5%; margin-top:5.2%; width:100%;   border-radius: 15px; ">

<div class="color_picture">
    <img style="margin-top: 2%;  width: 100%; border-radius: 15px; height: 202px;" src="../../assets/images/Living room.png" >
</div>

<div class="small_color_text_1" >

    {{ 'adaptation and designing' | translate: ''}}
    
 </div> 

 <div class="small_color_text_1 " style="font-size: 14px; margin-top: 20%;">
   
    {{ ' Predrag Tomak, Gajac, Pag' | translate: ''}}

 </div> 

 <div class="small_color_text_1 " style="font-size: 14px; margin-top: 5%;">
    {{ ' HOSTA user since 2012' | translate: ''}}
    

 </div> 
</div>




</div>



<div class="buis_text" style="text-align: center; margin-left: 5%;" > 
    {{ 'Sit back and relax,' | translate: ''}}
    
 </div>

 <div class="row" style="margin-top: 5%; margin-left: 20%; width: 60%;">
            
    <div class="col">

        <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
            
            90.000+

        </div>

        <div class="small_text " style="text-align: center; margin-top: 0%;">
            {{ 'Bookings yearly' | translate: ''}}
            
        </div>

    </div>

    <div class="col">

        <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
            3 mil. €

        </div>

        <div class="small_text " style="text-align: center; margin-top: 0%; width: 120%; ">
           {{ ' Income generated' | translate: ''}}
        </div>

    </div>

    <div class="col">

        <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
            700+
        </div>

        <div class="small_text " style="text-align: center; margin-top: 0%;">
            
            {{ 'Properties in portfolio' | translate: ''}}
        </div>

    </div>

    <div class="col">

        <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
            60+

        </div>

        <div class="small_text " style="text-align: center; margin-top: 0%;">
            {{ 'Team members' | translate: ''}}
            
        </div>

    </div>
    </div>

    <button type="button" class="btn btn-default btn-round-lg btn-l">   
        <div class="button_text">
        {{ 'package' | translate: ''}}
    </div></button>
    <div class="small_button_text" style=" color: #223f80; ">
        {{ 'save' | translate: ''}}
       
    </div>

    <div class="income_text" style="text-align: center; margin-left: 5%; margin-top: 20%;" > 
     
      {{ ' Subscribe to our newsletter' | translate: ''}}
     </div>

     <div class="small_text " style="text-align: center; margin-top: 0%;">
        {{ 'Airbnb tips, best practices and more' | translate: ''}}
        
        </div>

       
     <button type="button" class="btn btn-default btn-round-lg btn-l" style="background: #358568;">   
        <div class="button_text" style="color: white;">
            {{ 'Get our newsletter' | translate: ''}}
        
    </div></button>
</div>
</div>



    
    
  
<div  class="mobile_hide">

    <div class="row">
        

        <div class="income_picture">
            <img style="margin-left: 37%;"  src="../../assets/images/income.png" >
        </div>

        <div class="income_text">
            {{ 'Maximise' | translate: ''}}   
        </div>

        <div class="line">
            <img style="margin-top: 15%; width: 100%;"  src="../../assets/images/line1.png" >
        </div>

        <div class="small_income_text">
            {{ 'Up to ' | translate: ''}}
        </div> 
    </div>

    <div class="row" style="margin-top: 25%;">
    
        <div class="income_picture">
            <img style="margin-left: 37%;"  src="../../assets/images/safe.png" >
        </div>
        
        <div class="income_text">
            {{ 'Prompt' | translate: ''}}        
        </div>
        
        <div class="line">
            <img style="margin-top: 15%; width: 100%;"  src="../../assets/images/line1.png" >
        </div>
        
        <div class="small_income_text">
            {{ 'Your property is in safe hands' | translate: ''}}
        </div> 
        
        </div>

        <div class="row" style="margin-top: 25%;">
    
            <div class="income_picture">
                <img style="margin-left: 37%;"  src="../../assets/images/happy.png" >
            </div>
            
            <div class="income_text">
                {{ 'Happy guests' | translate: ''}} 
            </div>
            <div class="income_text" style="margin-top: 0%;">
                {{ 'Happy guests1' | translate: ''}}
                      
            </div>
            
            
            <div class="line">
                <img style="margin-top: 15%; width: 100%;"  src="../../assets/images/line1.png" >
            </div>

           
            <div class="small_income_text">
                {{ ' We are' | translate: ''}}
                
            </div> 
            
            </div>

            
            <div class="mobile_color" >
                <div class ="color_main" style="margin-top: 5%;">
                    {{ ' HOSTA service package' | translate: ''}}
                </div>
<div>
                <div style="text-align: center; margin-top: 5%;" >
                    <img  src="../../assets/images/booking.png" >
                </div>

                <div class="mobile_color_text " style="text-align: center;">
                    BOOKING
                </div>

                
                <div class="msmall_color_text" style="text-align: center;">
                    {{ 'Presence' | translate: ''}}
                 </div> 
                
                 <div style="text-align: center; margin-top: 5%;" >
                    <img style="text-align: center; margin-top: 5%;"  src="../../assets/images/line_4.png" >
                </div>
                

</div>

<div style="text-align: center; margin-top: 5%;">
    <div style="text-align: center; margin-top: 5%;" >
        <img  src="../../assets/images/cleaning.png" >
    </div>

    <div class="mobile_color_text " style="text-align: center;">
        {{ 'CLEANING1' | translate: ''}}
    </div>

    
<div class="msmall_color_text" style="text-align: center;">
    {{ 'High' | translate: ''}}
 </div> 

 <div style="text-align: center; margin-top: 5%;" >
    <img style="text-align: center; margin-top: 5%;"  src="../../assets/images/line_4.png" >
</div>

</div>

<div style="text-align: center; margin-top: 5%;">
    <div style="text-align: center; margin-top: 5%;" >
        <img  src="../../assets/images/handy_man.png" >
    </div>

    <div class="mobile_color_text " style="text-align: center;">
        {{ 'HANDYMAN2' | translate: ''}}
    </div>

    
<div class="msmall_color_text" style="text-align: center;">
    {{ 'rapid' | translate: ''}}
 </div> 

 <div style="text-align: center; margin-top: 5%;" >
    <img style="text-align: center; margin-top: 5%;"  src="../../assets/images/line_4.png" >
</div>

</div>

<div>
    <div style="text-align: center; margin-top: 5%;" >
        <img style="text-align: center; margin-top: 5%;"  src="../../assets/images/reception.png" >
    </div>

    <div class="mobile_color_text " style="text-align: center;">
        {{ 'Reception1' | translate: ''}}
    </div>

    
<div class="msmall_color_text" style="text-align: center;">
    {{ 'self-check' | translate: ''}}
 </div> 
 <div style="text-align: center; margin-top: 5%;" >
    <img style="text-align: center; margin-top: 5%;"  src="../../assets/images/line_4.png" >
</div>

</div>

<div  style="width: 100%;  margin-top: 5%; text-align: center;">
    <button type="button" class="btn btn-default btn-round-lg btn-l" style="width: 70%; margin-left: 0%;">   
        <div class="mbutton_text" >
            {{ 'package' | translate: ''}}
    </div>
</button>
  
</div>
<div class="small_button_text" style="margin-top: 5%;">
    {{ 'save' | translate: ''}}
</div>




            </div>

            <div class="income_text"  style="font-size: 18px; margin-top: 5%; text-align: center;"> 
                {{ 'Connection' | translate: ''}}
            
            </div>

 <div style="margin-top: 5%; text-align: center;">

   <div style="margin-top: 7%;">
    <img   src="../../assets/images/airbnb.png" >
    </div>

    <div style="margin-top: 7%;">
        <img   src="../../assets/images/booking_com.png" >
    </div>
    <div style="margin-top: 7%;">
        <img   src="../../assets/images/expedia.png" >
    </div>
    <div style="margin-top: 7%;">
        <img   src="../../assets/images/Tui.png" >
    </div>
    <div  style="margin-top: 7%;">
        <img   src="../../assets/images/homeaway.png" >
    </div>

            
</div>

<div class="buis_text" style="font-size: 18px; margin-top: 10%; margin-left: 5%;"> 
    {{ ' Support in every segment of your business' | translate: ''}}
 </div>


<div style="margin-top: 20%; ">
    <div class="small_buis_text " >
        {{ ' INVESTMENTS' | translate: ''}}

    </div>

    <div class="buis_text_1" style="font-size: 26px;"> 
        {{ 'Invest in vacation property rental' | translate: ''}}
    </div>

    <div class="small_text" style="text-align: justify;">
        
        {{ ' HOSTA helps its' | translate: ''}}

    </div>

    <div>

    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
        {{ ' ↑ to 10% ' | translate: ''}}

    </div>

    <div class="small_text " style="text-align: center; margin-top: 0%;">
        {{ 'capital volume' | translate: ''}}
    </div>

</div>
   


    <img  style="width: 100%;" src="../../assets/images/investment.png" >


</div>

<div  style="margin-top: 25%;">



   
        <div class="small_buis_text" style="margin-top: 0%;">
            {{ 'ADAPTATION1' | translate: ''}}

        </div>
        <div class="buis_text_1" style="margin-top: 10%; font-size: 26px;"> 
            {{ 'Guests' | translate: ''}}
        </div>

        <div class="small_text" style="margin-top: 5%; text-align: justify;">
            {{ 'beautifully' | translate: ''}}

        </div>

        
            
 

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
                >15%
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ 'Higher yields' | translate: ''}}
            </div>
    

     

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
                15.000€
               
                
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ ' Average Budget' | translate: ''}}
            </div>
    
       


            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
                500+
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ '  Property Designed' | translate: ''}}
            </div>
    

            <img style="width: 100%; margin-top: 5%;"  src="../../assets/images/adaptation.png" >


</div>




<div style="margin-top: 25%;">
<div class="small_buis_text" style="margin-top: 0%;">
    {{ 'CLASSIFICATION' | translate: ''}}

</div>
<div class="buis_text_1" style="margin-top: 10%; font-size: 26px;"> 
    {{ 'Legalize your business' | translate: ''}}
</div>

<div class="small_text" style="margin-top: 5%; text-align: justify;">
    {{ 'Prior ' | translate: ''}}
</div>


    


    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
        {{ '>€80' | translate: ''}}

    </div>

    <div class="small_text " style="text-align: center; margin-top: 0%;">
        {{ 'For HOSTA Users' | translate: ''}}
    </div>




    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
        {{ '15 days' | translate: ''}}
       
        

    </div>

    <div class="small_text " style="text-align: center; margin-top: 0%;">
        {{ 'Classification Procedure' | translate: ''}}
    </div>




    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 0%;">
       24h

    </div>

    <div class="small_text " style="text-align: center; margin-top: 0%;">
       
        {{ 'Response time' | translate: ''}}
    </div>


    <img style="width: 100%; margin-top: 5%;"  src="../../assets/images/adaptation.png" >


</div>


<div class="color_page" style="width: 100%; height: 1800px;">

    <div class ="color_main" style="margin-top: 5%;">
        {{ 'OUR USERS ABOUT US' | translate: ''}}
    </div>


    <div class="color_picture"  >
        <img   style="width: 100%; margin-top: 5%;" src="../../assets/images/object_1.png" >
    </div>

    <div class="small_color_text_1" style="margin-left: 3%; font-size: 20px; text-align: left;" >
        
        {{ 'We are extremely pleased' | translate: ''}}
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 20%; margin-left: 3%;">
        {{ 'Dinko Škarica, Opatija' | translate: ''}}
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 5%; margin-left: 3%;">
        {{ 'HOSTA user since 2017' | translate: ''}}
     </div> 


     <div class="color_picture" style="margin-top:15%">
        <img style="margin-top: 2%; border-radius: 15px; width: 98%; margin-left: 1%;" src="../../assets/images/kitchen.png" >
    </div>

     <div class="small_color_text_1" style="margin-left: 3%; font-size: 20px; text-align: left; margin-top: 10%;" >
        {{ 'Using HOSTAs package' | translate: ''}}
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 20%; margin-left: 3%;">
        {{ 'Zdravko Ružić, Barbariga' | translate: ''}}
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 5%; margin-left: 3%;">
        {{ 'HOSTA user since 2010' | translate: ''}}
     </div> 

     <div class="color_picture" style="margin-top:15%">
        <img style="margin-top: 2%; border-radius: 15px; width: 98%; margin-left: 1%;" src="../../assets/images/Living room.png" >
    </div>

     <div class="small_color_text_1" style="margin-left: 3%; font-size: 20px; text-align: left; margin-top: 10%;" >
        {{ 'adaptation and designing' | translate: ''}}
    
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 20%; margin-left: 3%;">
        {{ ' Predrag Tomak, Gajac, Pag' | translate: ''}}
     </div> 

     <div class="small_color_text_1 " style="font-size: 14px; margin-top: 5%; margin-left: 3%;">
        {{ ' HOSTA user since 2012' | translate: ''}}
     </div> 



  

</div>




<div class="buis_text" style="text-align: center; margin-left: 5%; font-size: 22px;" > 
    {{ 'Sit back and relax,' | translate: ''}}
 </div>

 <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
    90.000+

</div>

<div class="small_text " style="text-align: center; margin-top: 0%;">
    {{ 'Bookings yearly' | translate: ''}}
</div>




<div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
    3 mil.€
   
    

</div>

<div class="small_text " style="text-align: center; margin-top: 0%;">
    {{ ' Income generated' | translate: ''}}
</div>




<div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
    700+

</div>

<div class="small_text " style="text-align: center; margin-top: 0%;">
   
    {{ 'Properties in portfolio' | translate: ''}}
</div>

<div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
    60+

</div>

<div class="small_text " style="text-align: center; margin-top: 0%;">
   
    {{ 'Team members' | translate: ''}}
</div>

 <div  style="width: 100%;  margin-top: 5%; text-align: center;">
    <button type="button" class="btn btn-default btn-round-lg btn-l" style="width: 70%; margin-left: 0%;">   
        <div class="mbutton_text" >
            {{ 'package' | translate: ''}}
    </div>
</button>
</div>


<div class="small_button_text" style="margin-top: 5%; margin-left: 5%;  color: #223f80;">
    {{ 'save' | translate: ''}}
</div>

<div class="income_text" style="text-align: center;  margin-top: 20%;" > 
    {{ ' Subscribe to our newsletter' | translate: ''}}
   </div>



   <div class="small_text " style="text-align: center; margin-top: 5%;">
    {{ 'Airbnb tips, best practices and more' | translate: ''}}
    </div>

  
    <div  style="width: 100%;  margin-top: 5%; text-align: center;">
        <button type="button" class="btn btn-default btn-round-lg btn-l" style="width: 70%; margin-left: 0%; background: #358568;">   
            <div class="mbutton_text" style="color: white;" >
                {{ 'Get our newsletter' | translate: ''}}
        </div>
    </button>
  
</div>


  </div>


   











