
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.hide_me{
    display:block;
}

.show_me{
    display: none;
}

@media only screen and (max-width: 600px){
    .hide_me{
        display:none;
    }

    .show_me{
        display: block;
    }

    .topnav {
        overflow: hidden;
        background-color:white;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color:white;
        color: black;
      }
      
      .active {
        background-color: #4CAF50;
        color: white;
      }
    
}