
<div class="hide_me">
<div class="container">

    <div  class ="color_page">
        <img style="width: 100%;"  src="../../assets/images/housekeeping_internal.png" >

        <div class="row">
            <div class="col">
                <div class="color_picture" style="margin-left:18%; margin-top:7%;">
                    <img  style="margin-left:15%;" src="../../assets/images/cleaning.png" >
                    <img style=" margin-top: 5%; margin-right:65%;"  src="../../assets/images/line_4.png" >
                </div>

                <div class="color_text">
                    {{ 'High' | translate: ''}} 
                    
                </div>
         
            </div>

            <div class="col">
                <div class="color_text" style="text-align: left; margin-left:-15%;">
                   {{ 'Cleaning' | translate:'' }} 
                </div>

                <div class="small_color_text">

                    {{ 'Teams' | translate: ''}} 
                  
                 </div> 

                 <div class="small_color_text">
                    {{ 'Save1' | translate: '' }} 
                    
                 </div> 
    
            </div>
            
        </div>
        <div>
            <button type="button"  (click)="openDialog()"class="btn btn-default btn-round-lg btn-l">   
                <div class="button_text">
                    {{ 'offer' | translate:''}} 
               
            </div>
        </button>
        <div class="small_button_text">
            {{ 'save' | translate: '' }} 
        </div>
          
        </div>
    </div>

    <div class ="q-color_main" >
        {{ 'CLEANING1' | translate: ''}}
    </div>
    
    <div (click)="myFunction28()" class="plus"> {{ 'faq57' | translate: ''}}</div>
    
        <div class="a-color_main"  id="plus28" >
            {{ 'faq58' | translate: ''}}
    </div>
    
    <div (click)="myFunction29()" class="plus" style="text-align: left; ">{{ 'faq59' | translate: ''}} </div>
    
        <div class="a-color_main" id="plus29">
            {{ 'faq60' | translate: ''}} 
    </div>
       
    <div (click)="myFunction30()" class="plus"> {{ 'faq61' | translate: ''}}</div>
    
        <div class="a-color_main"  id="plus30" >
            {{ 'faq62' | translate: ''}}
    </div>
    
    <div (click)="myFunction31()" class="plus" style="text-align: left; ">{{ 'faq63' | translate: ''}} </div>
    
        <div class="a-color_main" id="plus31">
            {{ 'faq64' | translate: ''}} 
    </div>
    
    
     
    <div (click)="myFunction32() " class="plus">   {{ 'faq65' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus32" >
    
        {{ 'faq66' | translate: ''}}
     
    </div>
    
    <div (click)="myFunction33()" class="plus" style="text-align: left; ">   {{ 'faq67' | translate: ''}}</div>
    
    <div class="a-color_main" id="plus33">
        {{ 'faq68' | translate: ''}}
    </div>
    
    
    
    <div (click)="myFunction34()" class="plus"> {{ 'faq69' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus34" >
        {{ 'faq70' | translate: ''}}
    </div>
    
    <div (click)="myFunction35()" class="plus" style="text-align: left;">{{ 'faq71' | translate: ''}} </div>
    
    <div class="a-color_main" id="plus35">
        {{ 'faq72' | translate: ''}} 
    </div>
    
    
    <div (click)="myFunction36()" class="plus"> {{ 'faq73' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus36" >
        {{ 'faq74' | translate: ''}}
    </div>
    
    
</div>



</div>


<div class="show_me">

    <div  class ="color_page" style="width: 100%; height: auto;">
        <img style="width: 100%;"  src="../../assets/images/housekeeping_internal.png" >

         
            <img  style="margin-left:42%; margin-top: 5%;" src="../../assets/images/cleaning.png" >
                <div style=" text-align: center;">
            <img style=" margin-top: 15%; text-align: center;"  src="../../assets/images/line_4.png" >
        </div>
    
    <div class="color_text" style="margin-left: 0%; width: 100%;">
        {{ 'High' | translate: ''}} 
    </div>
  
    <div class="mcolor_text" style="text-align: left; margin-left: 5%; margin-top: 15%; ">
        {{ 'Cleaning' | translate: '' }} 
    </div>

    <div class="msmall_color_text " style="margin-left: 5%;">
        {{ 'Teams' | translate: '' }} 
     </div> 

     <div class="msmall_color_text " style="margin-left: 5%;">
        {{ 'Save1' | translate:''}} 
     </div> 

     <div  style="width: 100%;  margin-top: 5%; text-align: center;">
        <button type="button" class="btn btn-default btn-round-lg btn-l" style="width: 74%; margin-left: 0%;">   
            <div class="mbutton_text" >
                {{ 'offer' | translate: ''}} 
        </div>
    </button>
    </div>

    <div class="small_button_text" style="margin-top: 5%; margin-left: 0%;  color: white;">
        {{ 'save' | translate:''}} 
    </div>
</div>

</div>

