 <div class="hide_me">
<div class="container">


    <div class="buis_text_1" style="margin-top: 3%; text-align: center;">
        
        {{ 'ADAPTATION' | translate: ''}}
    </div>

<div class="row" style="margin-top: 5%;">

  

    <div class="col">
       
        <div class="buis_text_1" style="margin-top: 0%; font-size:32px;"> 
            {{ 'Guests' | translate: ''}}
           
        </div>

        <div class="small_text" style="margin-top: 5%;">
            {{ 'beautifully' | translate: ''}}

          

        </div>

        <div class="row" style="margin-top: 5%;">
            
        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                >15%
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ 'Higher yields' | translate: ''}}
                
            </div>
    
        </div>

        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                15.000€
               
                
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ ' Average Budget' | translate: ''}}
               
            </div>
    
        </div>

        <div class="col">

            <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                
                500+
    
            </div>
    
            <div class="small_text " style="text-align: center; margin-top: 0%;">
                {{ '  Property Designed' | translate: ''}}
                
               
            </div>
    
        </div>
        </div>
    </div>

    <div class="col">
        <img   src="../../assets/images/adaptation.png" >
    </div>
</div>

<div class="small_text" style="margin-top: 5%; text-align: justify;">
    {{ 'Decoration' | translate: ''}}
    
</div>

<div class="small_text" style="margin-top: 2%; text-align: justify;">
    {{ 'table' | translate: ''}}
    
</div>

<div class="row" style="margin-top: 5%;">

    <div class="col">
        <div class="buis_text_1" style="margin-top: 0%; font-size:32px;"> 
            App 1
        </div>
        <div class="small_text " style="text-align: left; margin-top: 0%;">
            {{ 'Best design' | translate: ''}}
            
        </div>
        <img style="margin-top: 5%;"  src="../../assets/images/app1.png" >
    </div>
    <div class="col">
        <div class="buis_text_1" style="margin-top: 0%; font-size:32px;"> 
            App 2
        </div>
        <div class="small_text " style="text-align: left; margin-top: 0%;">
            {{ ' Well equiped, no decoration' | translate: ''}}
           
        </div>
        <img  style="margin-top: 5%;" src="../../assets/images/app2.png" >
    </div>
    <div class="col">
        <div class="buis_text_1" style="margin-top: 0%; font-size:32px;"> 
            App 3
        </div>
        <div class="small_text " style="text-align: left; margin-top: 0%;">
            {{ ' Bad equiped, no decoration' | translate: ''}}
            
        </div>
        <img style="margin-top: 5%;"  src="../../assets/images/app3.png" >
    </div>

</div>





<div class="row" style="margin-top:40px;">
    <div class="col-lg-12">
        <table class="table adaptation noborder" style="text-align: right;">
            <tr style="font-size: 14px; color:#223f80">
                <th>{{ 'STATISTICS' | translate: ''}}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>{{ 'NET INCOME' | translate: ''}}</th>
                <th>&nbsp;</th>
                <th>{{ 'NET COSTS' | translate:''}}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>{{ 'NET RESULTS' | translate: ''}}</th>
              </tr>
            <tr style="font-size: 12px; ">
                <th>&nbsp;</th>
                <th>Duration of <p>occupancy, days</th>
                <th>Number of <p>check in</th>
                <th>Average number of <p>days of staying, days</th>
                <th>Average <p>price/day</th>
                <th>Season <p>net income*</th>
                <th>Utilities (electricity,<p> water etc.)</th>
                <th>Reception, cleaning, linen,<p> maintenance</th>
                <th>Total cost	</th>
              </tr>
              <tr style="width:100%; margin-top: 5%; font-size: 14px; ">
                <td style="color:#223f80; font-weight: bold;">APP 1</td>
                <td>107</td>
                <td>24</td>
                <td>4,5</td>
                <td>50,93 €</td>
                <td>5.450,00 €</td>
                <td>1.008,00 €</td>
                <td>1.334,00 €</td>
                <td>2.342,00 €</td>
                <td style="color:#223f80; font-weight: bold;">3.108,00 €</td>
              </tr>
              <tr style="width:100%; margin-top: 5%; font-size: 14px; ">
                <td style="color:#223f80; font-weight: bold;">APP 2</td>
                <td>108</td>
                <td>21</td>
                <td>5,1</td>
                <td>45,00 €</td>
                <td>4.860,00 €</td>
                <td>918,00 €</td>
                <td>1.244,00 €</td>
                <td>2.162,00 €</td>
                <td style="color:#223f80; font-weight: bold;">2.698,00 €</td>
              </tr>

              <tr style="width:100%; margin-top: 5%; font-size: 14px; ">
                <td style="color:#223f80; font-weight: bold;">APP 3</td>
                <td>82</td>
                <td>18</td>
                <td>4,6</td>
                <td>31,10 €</td>
                <td>2.550,00 €</td>
                <td>888,00 €</td>
                <td>1.007,00 €</td>
                <td>1.895,00 €</td>
                <td style="color:#223f80; font-weight: bold;">650,00 €</td>
              </tr>
        </table>
        </div>
    </div>
    <div class="small_text" style="margin-top: 5%; text-align: justify; font-size: 10px;">
            
    * without VAT and 15% provision for online tourist booking agencies like booking.com or airbnb.com
</div>
</div>
</div>

<div class="show_me">

    <div class="buis_text_1" style="margin-top: 3%; text-align: center; font-size: 24px;">
        
        {{ 'ADAPTATION' | translate: ''}}
    </div>


    <div class="buis_text_1" style="margin-top: 5%; font-size:22px;"> 
        {{ 'Guests' | translate: ''}}
       
    </div>

    <div class="small_text" style="margin-top: 5%;">
        {{ 'beautifully' | translate: ''}}

    </div>

    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
        >15%

    </div>

    <div class="small_text " style="text-align: center; margin-top: 0%;">
        {{ 'Higher yields' | translate: ''}}
        
    </div>



    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
        15.000€
       
        

    </div>

    <div class="small_text " style="text-align: center; margin-top: 0%;">
        {{ ' Average Budget' | translate: ''}}
       
    </div>

    
    <div style="color: #ce404e; font-size: 40px; text-align: center; margin-top: 5%;">
                
        500+

    </div>

    <div class="small_text " style="text-align: center; margin-top: 0%;">
        {{ '  Property Designed' | translate: ''}}
    </div>

    <img style="width: 100%; margin-top: 5%;"  src="../../assets/images/adaptation.png" >

    <div class="small_text" style="margin-top: 5%; text-align: justify;  width: 90%; margin-left: 4%;">
        {{ 'Decoration' | translate: ''}}
        
    </div>
    
    <div class="small_text" style="margin-top: 2%; text-align: justify; width: 90%; margin-left: 4%;">
        {{ 'table' | translate: ''}}
        
    </div>

    <div class="buis_text_1" style="margin-top: 5%; font-size:32px;"> 
        App 1
    </div>
    <div class="small_text " style="text-align: left; margin-top: 0%;">
        {{ 'Best design' | translate: ''}}
        
    </div>
    <img style="margin-top: 5%; width: 100%;"  src="../../assets/images/app1.png" >

    <div class="buis_text_1" style="margin-top: 5%; font-size:32px;"> 
        App 2
    </div>
    <div class="small_text " style="text-align: left; margin-top: 0%;">
        {{ ' Well equiped, no decoration' | translate: ''}}
       
    </div>
    <img  style="margin-top: 5%; width: 100%;" src="../../assets/images/app2.png" >

    <div class="buis_text_1" style="margin-top: 5%; font-size:32px;"> 
        App 3
    </div>
    <div class="small_text " style="text-align: left; margin-top: 0%;">
        {{ ' Bad equiped, no decoration' | translate: ''}}
        
    </div>
    <img style="margin-top: 5%; width: 100%;"  src="../../assets/images/app3.png" >


           
    
    
</div>