


<div class="hide_me">


<div class="container">

    <div  class ="color_page">
        <img style="width: 100%;"  src="../../assets/images/housekeeping_internal.png" >

        <div class="row">
            <div class="col">
                <div class="color_picture" style="margin-left:18%; margin-top:7%;">
                    <img  style="margin-left:10%;" src="../../assets/images/booking.png" >
                    <img style=" margin-top: 5%; margin-right:65%;"  src="../../assets/images/line_4.png" >
                </div>

                <div class="color_text">
                    {{ 'Presence' | translate: ''}} 
                </div>
         
            </div>

            <div class="col">
                <div class="color_text" style="text-align: left; margin-left:-15%;">
                    BOOKING
                    
                </div>

                <div class="small_color_text">
                    {{ 'Being' | translate: ''}}
                    
                 </div> 

                 <div class="small_color_text">
                    {{ 'Regardless' | translate: ''}}
                    
                 </div> 
    
            </div>
            
        </div>
        <div>
            <button type="button" (click)="openDialog()" class="btn btn-default btn-round-lg btn-l">   
                <div class="button_text">
                    {{ 'package' | translate: ''}}
              
            </div></button>
            <div class="small_button_text">
                {{ 'save' | translate:''}}
                
            </div>
          
        </div>
    </div>


    <div class ="q-color_main" >
        Booking
    </div>
    
    <div (click)="myFunction16() " class="plus">   {{ 'faq33' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus16" >
    
        {{ 'faq34' | translate: ''}}
     
    </div>
    
    <div (click)="myFunction17()" class="plus" style="text-align: left; ">   {{ 'faq35' | translate: ''}}</div>
    
    <div class="a-color_main" id="plus17">
        {{ 'faq36' | translate: ''}}
    </div>
    
    
    
    <div (click)="myFunction18()" class="plus"> {{ 'faq37' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus18" >
        {{ 'faq38' | translate: ''}}
    </div>
    
    <div (click)="myFunction19()" class="plus" style="text-align: left;">{{ 'faq39' | translate: ''}} </div>
    
    <div class="a-color_main" id="plus19">
        {{ 'faq40' | translate: ''}} 
    </div>
    
    
    <div (click)="myFunction20()" class="plus"> {{ 'faq41' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus20" >
        {{ 'faq42' | translate: ''}}
    </div>
    
    <div (click)="myFunction21()" class="plus" style="text-align: left;">{{ 'faq43' | translate: ''}} </div>
    
    <div class="a-color_main" id="plus21">
        {{ 'faq44' | translate: ''}} 
    </div>
    
    <div (click)="myFunction22()" class="plus"> {{ 'faq45' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus22" >
        {{ 'faq46' | translate: ''}}
    </div>
    
    
    
    <div (click)="myFunction23()" class="plus" style="text-align: left;">{{ 'faq47' | translate: ''}} </div>
    
    <div class="a-color_main" id="plus23">
        {{ 'faq48' | translate: ''}} 
    </div>
    
    <div (click)="myFunction24()" class="plus"> {{ 'faq49' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus24" >
        {{ 'faq50' | translate: ''}}
    </div>
    
    <div (click)="myFunction25()" class="plus" style="text-align: left;">{{ 'faq51' | translate: ''}} </div>
    
    <div class="a-color_main" id="plus25">
        {{ 'faq52' | translate: ''}} 
    </div>
    
    <div (click)="myFunction26()" class="plus"> {{ 'faq53' | translate: ''}}</div>
    
    <div class="a-color_main"  id="plus26" >
        {{ 'faq54' | translate: ''}}
    </div>
    
    <div (click)="myFunction27()" class="plus" style="text-align: left;">{{ 'faq55' | translate: ''}} </div>
    
    <div class="a-color_main" id="plus27">
        {{ 'faq56' | translate: ''}} 
    </div>
</div>


</div>





<div class="show_me">

    <div  class ="color_page" style="width: 100%; height: auto;">
        <img style="width: 100%;"  src="../../assets/images/housekeeping_internal.png" >

         
            <img  style="margin-left:33%; margin-top: 5%;" src="../../assets/images/booking.png" >
                <div style=" text-align: center;">
            <img style=" margin-top: 15%; text-align: center;"  src="../../assets/images/line_4.png" >
        </div>
    
    <div class="color_text" style="margin-left: 0%; width: 100%;">
        {{ 'Presence' | translate: ''}} 
    </div>

   

  
    <div class="mcolor_text" style="text-align: left; margin-left: 5%; margin-top: 15%; ">
        BOOKING
    </div>

    <div class="msmall_color_text " style="margin-left: 5%;">
        {{ 'Being' | translate: ''}}
     </div> 

     <div class="msmall_color_text " style="margin-left: 5%;">
        {{ 'Regardless' | translate: ''}}
     </div> 

     <div  style="width: 100%;  margin-top: 5%; text-align: center;">
        <button type="button" class="btn btn-default btn-round-lg btn-l" style="width: 74%; margin-left: 0%;">   
            <div class="mbutton_text" >
                {{ 'package' | translate: ''}}
        </div>
    </button>
    </div>

    <div class="small_button_text" style="margin-top: 5%; margin-left: 0%;  color: white;">
        {{ 'save' | translate: ''}}
    </div>
</div>




</div>

